*{
    box-sizing: border-box;
    margin: 0px;
}

.fundo{

    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elemento{

    background-color: cornsilk;
    
}